@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<p class="center green">
    @ViewBag.result
</p>

<div class="link-administrator center">
    @Html.ActionLink("Bak to list", "Works", "Administrator")
</div>

