@{
    ViewBag.Title = "About";
}



@if (ViewBag.Paintings != null)
{
    foreach (eliezerhome2.Models.Painting p in ViewBag.Paintings)
    {
        <p> @(p.Name + " " + p.Price.ToString() + "$  "  + p.URL)</p>
    }
}