@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Administrator Menu</h2>
<div class="link-administrator">
    <hr />
    @Html.ActionLink("Мої роботи", "Works", "Administrator")
    <hr/>
    @Html.ActionLink("Фотогалереї", "Galleries", "Administrator")
    <hr/>
    @Html.ActionLink("Інформація про художника", "EditArtist", "Administrator")
</div>











