@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="link-administrator" style="display:inline">
    @Html.ActionLink("Мої роботи", "Works", "Administrator")
    <br/>
    @Html.ActionLink("Галереї фото", "Galleries", "Administrator")
    <br/>
    @Html.ActionLink("Редагувати інформацію про мене", "EditArtist", "Administrator")
</div>











