@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="link-administrator">
    @Html.ActionLink("Мої роботи", "Works", "Administrator")
    @Html.ActionLink("Редагувати інформацію про мене", "EditArtist", "Administrator")
</div>











